ElevenDays_Service/UI_ElevenDays/Connected Services/ServiceReference2/ElevenDays_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElevenDays_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElevenDays_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PlayerCordons" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DLL_User" />
  <xs:complexType name="GameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInfo" nillable="true" type="tns:GameInfo" />
  <xs:complexType name="PlayerInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlayerCordons" minOccurs="0" name="Hitbox" nillable="true" type="q1:Hitbox" />
      <xs:element minOccurs="0" name="IsImposter" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PlayerCordons" minOccurs="0" name="Model" nillable="true" type="q2:Model" />
      <xs:element minOccurs="0" name="PlayerState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player_Fruit" type="tns:Player_Fruit" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DLL_User" minOccurs="0" name="User" nillable="true" type="q3:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInfo" nillable="true" type="tns:PlayerInfo" />
  <xs:simpleType name="Player_Fruit">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="Player_Fruit" nillable="true" type="tns:Player_Fruit" />
</xs:schema>