ElevenDays_Service/UI_ElevenDays/Connected Services/ServiceReference2/PlayerCordons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlayerCordons" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlayerCordons" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Position">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="Hitbox">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Hitbox" nillable="true" type="tns:Hitbox" />
  <xs:complexType name="Model">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Model" nillable="true" type="tns:Model" />
</xs:schema>